In [1]:
import pandas as pd
from pycaret.regression import *
import os

In [2]:
updated_folder = "/Users/nikitaakenkre/Desktop/NYU Coursework/DE/Final Project/Currency Pairs"

csv_files = [f for f in os.listdir(updated_folder) if f.endswith('.csv')]

df_list = []

for f in csv_files:
    # Read the csv file and only extract three required columns
    df_list.append(pd.read_csv(os.path.join(updated_folder, f)))

In [3]:
#Concatenating dataframes for all currency pairs
df = pd.concat(df_list, ignore_index=True)

In [4]:
#Setting dependent variable as 'VWAP' and implements 70 - 30 train test

In [5]:
regression_setup = setup(data = df, target = "VWAP", train_size = 0.7)

In [6]:
best = compare_models()

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

In [7]:
#Appending data of regression in errors list and pulling RMSE values

In [8]:
errors = []

for i, df_ in enumerate(df_list):
    print(csv_files[i])
    predict_model(best, data = df_)
    errors.append((csv_files[i][:-4], pull()["RMSE"][0]))
    print()

EURCHF.csv

EURHUF.csv

USDJPY.csv

EURNOK.csv

USDCAD.csv

In [9]:
errors_order = sorted(errors, key = lambda a: a[1])

In [10]:
classes = [*["Forecastable"]*2, *["Partially Forecastable"]*1, *["Non - Forecastable"]*2]
classes

['Forecastable',
 'Forecastable',
 'Partially Forecastable',
 'Non - Forecastable',
 'Non - Forecastable']

In [14]:
final_result = {"Currency Pairs": [], "Errors": [], "Classes": []}

for i in range(5):
    final_result["Currency Pairs"].append(errors_order[i][0])
    final_result["Errors"].append(errors_order[i][1])
    final_result["Classes"].append(classes[i])
    
pd.DataFrame(final_result).to_csv("/Users/nikitaakenkre/Desktop/NYU Coursework/DE/Final Project/Classification Table.csv")